---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Juan Paz aunque también puedes encontrar algunos post como Fresko . Empecé en la
      en el mundo de la tecnología en tercer Grado cuando toque mi primer PC en el colegio y Conocí el Ascii . Actualmente estoy <strong
        >Apoyando compañias  en su Estrategia Digital 
        a implementar soluciones que impacten en las personas y en el mundo!
         haa ! y también un gran entusiasta en inteligencia artificial AI</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >colaborar con  el equipo que ganó premio INNOVA  y el equipo que obtuvo patentes de "Dispositivos para mediciones
        hidromecánicas de corte por agua, mediante método trazador. (Fluvia)"</strong
      >. Aunque hoy no estoy directamente con el equipo apoyo desde la distancia para sacarle jugo a la patente y nuevas ideas .
    </p>

    <p>
      Como Emprendedor , <strong
        >En los ratos libres de  Pandemia COVID19 conformamos un Equipo llamado  <em class="italic">ZATOS</em>  y participamos en un Evento de SatrtUps en Apps.co quedando entre los 10 Primeros a nivel Nacional y con ello la obtención de inversión inicial
        en servicios AWS-Startups superior a 7K USD y mentorías </strong
      >. aunque se intento conseguir más inversion y clientes, no fue sostenible :-( ,fue una gran aventura de emprendimiento y conocimiento .
    </p>

    <p>
      Muchas ideas e intentos de creación de Startups  entre ellos :</p>
<ul>
  <li><b>Animalpetbook.com</b>: Mach de Mascotas</li>
  <li><b>Zatos.co</b>: Fabricantes de Calzado Proveedores de Materia prima</li>
  <li><b>Orion.ai</b>: Arquitecto Bot Diseñador de Arquitecturas solicitadas por voz</li>
  <li><b>Ownerz.com</b>: fraccionar la comprar de propiedades</li>
  <li><b>AppParquear</b>: Gestion y Control Remoto de Parqueadores</li>
  <li><b>BoostMusic</b>: DJ para que te de la lista de canciones para cada oacasión</li>
  <li><b>FinazaPersonal</b>: Maenjo de mis finanzas</li>
  <li><b>Fluvia</b>: Cuidado de Agua</li>
  <li><b>CrazyCoach</b>: Calidad de Vidad de la Mujer Alimentación Workout Gen AI</li>
</ul>
<br>
      <p>
        buscando inversión en Colombia y por fuera como en <strong
        > VC Platanus  y hasta la ilusión presentandonos en YCombinator </strong>  sin lograr inversión o ingresos sostenibles  Aún ! ,
       Gracias a los que han sido parte de esta aventura y aportaron para rodar la idea, aunque no se llego muy  lejos se arrancó y se aprendio Toneladas!.

       Gracias a los rechazos, a esos "NO Gracias" y los errores ahora somos más fuertes  Saludos !
    </p>
  </div>

<img width="200" height="200" src="/metech.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
