---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Nov 2017 - Dic 2023",
    title: "Solution Architect",
    company: "Oracle",
    description:
      "Apoyar y liderar iniciativas de transformación digital en más de +500 entidades gubernamentales en Latam, optimizando procesos e implementando tecnologías disruptivas en OCI Cloud Infrastructure e integración con otras nubes (Azure, AWS, GCP).",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "Nov 2011 - Nov 2017",
    title: "Solution Architect & Software Engineer (Senior Dev)",
    company: "Entidades de Gobierno Colombia (DANE,IDU,IDEAM ...)",
    description:
      "Implementar soluciones TI alineadas a la política de gobierno digital y Marco de Arquitectura del MINTIC,Integrante de equipos para proyectos de impacto en el país como el censo nacional de población, censo nacional agropecuario, Platafomas para monitoreo del medio el ambiente ,Impuetso y Valorización .",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
